body{
    background-color: rgb(246, 250, 197);
}
#cabecera{
    background-color: aqua;
    text-align: center;
    font-family:'Lobster Two',serif ;
}

.container-fluid>row>col-md-3>img-responsive{
    width="500";
     height="200";
}