
#Header {
    background-color: black;
    text-align: center;
    font-family: 'Lobster Two', serif;
}

#colorGaming{
    color: yellow;
}

#colorR{
    color: pink;
}

#colorA{
    color: rgb(0, 225, 255);
}

#colorN{
    color: orange;
}

#colorK{
    color: red;
}

#fantasmas {
    width: 30px;
    height: 20px;
    
}


.gridBotton {
    display: grid;
    grid-template-columns: 60px 60px 60px;
    margin: 10px
}

.botton {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    border-radius: 5px;
    width: 50px;
    height: 50px;
}

.botton2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    border-radius: 5px;
    width: 200px;
    height: 50px;
}

.botton2:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(26, 40, 20);
    border-style:dashed;
    border-width: 10px;
    border-color: green;
    border-radius: 5px;
    width: 200px;
    height: 50px;
}

.botton:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(26, 40, 20);
    border-style:dashed;
    border-width: 10px;
    border-color: green;
    border-radius: 5px;
    width: 50px;
    height: 50px;
}

.img-responsive {
    width: 18vw;
    height: 50vh;
    margin-bottom:4vh ;
    margin-left: 1vw;
    margin-right: 1vw;
    flex-wrap: wrap;
    border-style: solid;
    border-radius:12px ;
    border-color: black;
}

.img-responsive:hover {
    width: 18vw;
    height: 50vh;
    margin-bottom:4vh ;
    margin-left: 1vw;
    margin-right: 1vw;
    border-style:solid;
    border-width: 0.7vw;
    border-color: green;
}

.gridInfo {
    display: grid;

    margin-left: 5vw;
    margin-right: 5vw;
    height: auto;
    width: 90%;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5vw;
    grid-row-gap: 1vh;
}


.image {
    grid-area: 1 / 1 / 3 / 1;
    width: 2fr;
}

.image>img {
    width: 100%;
    height: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.description {
    grid-area: 1 / 2 / 1 / 2;
    width: 2fr;
}

.description>p {
    width: 100%;
    font-size: 3vb;
    text-align: left;
    overflow: hidden;
    word-wrap: break-word;
    word-break: keep-all;
}

.trailer {
    grid-area: 2 / 2 / 3 / 3;
}

.trailer>iframe {
    width: 100%;
    height: 100%;
}

.data {
    grid-area: 1 / 3 / 3 / 3;
    width: 1fr;
}

.data>h3{
    font-size: larger;
    font-weight: 1000;
}

.data>ul>li {
    font-size: 20;
    text-align: left;
    word-wrap: break-word;
    word-break: keep-all;
    width: 80%;
}

#tablaconsola{
    display: grid;
    margin-top: 30px;
}

table>thead{
    background-color: white;
    text-align: center;
}

#videojuego{
    background-color: white;
}

#ps{
    background-color: blue;
}

#xbox{
    background-color: green;
}

#nintendo{
    background-color: red;
}

#pc{
    background-color: goldenrod;
}

.tick{
    color: green;
}

table>tbody{
    background-color: transparent;
    text-align: center;
}

#formgrid{
    background-color: rgb(201, 218, 220);
    display: grid;
    margin-top: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
}

#buttonsubmit{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    border-radius: 5px;
    width: 100px;
    height: 50px; 
}