<!doctype HTML>
<html>
    <head>
        <title>GamingRank</title>
        <link type="text/css" rel="stylesheet" href="/css/styleprincipal.css" /> <!--con esto se le asocia el css -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"> <!-- estamos importando ese fichero que incluye las reglas de bootstrap-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"> </script><!--fichero que incluye código JavaScript que aporta interactividad con algunos componentes -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"> <!-- permite el uso de íconos-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!--permite que la página se adapte al ancho de la pantalla -->
    </head>

    <body>
        <header>
            <button class="headproyect">
                <a href="/" class="decoration">
                    <h1><img id="fantasmas" src="/Imagenes_practica/Pacman.jpg"><span id="colorGaming">Gaming
                        </span><span id="colorR">R</span><span id="colorA">a</span><span id="colorN">n</span><span
                            id="colorK">k</span><img id="fantasmas" src="/Imagenes_practica/Fantasmas.jpg"></h1>
                </a>
            </button>
        </header>

        <section>
            <div  class="container">
                <div class=" row">
                    <div>
                        <p>No se han completado correctamente:</p>
                    </div>
                    <ul>
                        {{#name}}
                        <li>Name correct</li>
                        {{/name}}
                        {{^name}}
                        <li>Name error</li>
                        {{/name}}

                        {{#image}}
                        <li>Image correct</li>
                        {{/image}}
                    
                        {{^image}}
                        <li>Image error</li>
                        {{/image}}

                        {{#description}}
                        <li>Description correct</li>
                        {{/description}}

                        {{^description}}
                        <li>Description error</li>
                        {{/description}}

                        {{#trailer}}
                        <li>Trailer correct</li>
                        {{/trailer}}

                        {{^trailer}}
                        <li>Trailer error</li>
                        {{/trailer}}
                    </ul> 
                </div>
            </div>
        </section>
    </body>


</html>