body {
    background-image: url("Imagenes_practica/Fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.headproyect {
    background-color: black;
    border-color: black;
    border-style: solid;
}

header {
    background-color: black;
    text-align: center;
    font-family: 'Lobster Two', serif;
}

#colorGaming {
    color: yellow;
}

#colorR {
    color: pink;
}

#colorA {
    color: rgb(0, 225, 255);
}

#colorN {
    color: orange;
}

#colorK {
    color: red;
}

#fantasmas {
    width: 30px;
    height: 20px;
}



.img-responsive {
    width: 100%;
    height: 75%;
    margin-top: 4vh;
    flex-wrap: wrap;
    border-style: solid;
    border-radius: 5%;
    border-color: black;
}

.img-responsive:hover {
    border-color: rgba(218, 148, 18, 0.808);
}

.GameName {
    margin-top: 1vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    text-align: center;
    color: rgba(6, 62, 165, 0.986);
    text-decoration:none;
}

.gridBotton {
    display: grid;
    grid-template-columns: 60px 60px 60px 1fr;
}

.botton {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    margin: 10px;
    border-radius: 5px;
    width: 50px;
    height: 50px;
}

.botton:hover {
    border-style: dashed;
    border-width: 10px;
    border-color: green;
}

.bottonwidth {
    width: 200px;
}




#Tittle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

#description{
    margin: 10px;
    width: 100%;
    font-size: 3vb;
    text-align: left;
    overflow: hidden;
    word-wrap: break-word;
    word-break: keep-all;
}

.tablaconsola {
    margin-top: 20px;
}

.tablaconsola>table{
    width: 100%;
}


.tabla>th{
    width: 25%;
}

.tablaconsola>th{
    width: 25%;
}

table>thead {
    background-color: white;
    text-align: center;
}

table>tbody {
    background-color: transparent;
    text-align: center;
}

.videojuego {
    background-color: white;
}

.ps {
    background-color: blue;
}

.xbox {
    background-color: green;
}

.nintendo {
    background-color: red;
}

.pc {
    background-color: goldenrod;
}

.tick {
    color: green;
}

.tick-red {
    color: red;
}

.elementCenter{
    display: flex; 
    justify-content: center; 
    align-items: center;  
}

#trailer{
    width: 100%;
}

.formgrid {
    background-color: rgb(201, 218, 220);
    display: grid;
    margin-top: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
}

#contentform {
    margin: 10px;
}

#form-control {
    height: 30px;
}

.form-group {
    margin: 10px;
}

#score {
    margin: 10px;
}

.valoracion {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.valoracion input {
    position: absolute;
    top: -100px;
}

.valoracion label {
    float: right;
    color: #c1b8b8;
    font-size: 30px;
}

.valoracion label:hover,
.valoracion label:hover~label,
.valoracion input:checked~label {
    color: yellow;
}

.ScoreReview{
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-left: 20px;
}

.YellowStar{
    float: right;
    color: yellow;
    font-size: 30px;
}

.GreyStar{
    float: right;
    color: #c1b8b8;
    font-size: 30px;
}

#buttonsubmit {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    margin-top: 20px;
}

.gridReview {
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 4fr 1fr;
    background-color: rgb(201, 218, 220);
    border-color: black;
    border-style: solid;
    margin-top: 2vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 5vh;
    border-radius: 10px;
}

.imageUser {
    justify-content: center;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.UserName {
    justify-content: center;
    text-align: center;
    background-color: rgb(247, 252, 220);
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    margin: 5px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.userimage {
    width: 65px;
    height: 70px;
    border-color: rgb(0, 179, 255);
    border-style: solid;
    background-color: white;
    border-radius: 3px;
    margin-top: 1vh;
}


.review {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    border-color: black;
    border-left: 2px;
    border-right: 0;
    border-bottom: 0;
    border-top: 0;
    border-style: solid;
}

.reviewtext {
    margin: 10px;
}




#gridTittle {
    text-align: center;
    background-color: yellow;
    border-color: black;
    border-style: solid;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

#gridData {
    display: grid;
    row-gap: 5px;
    column-gap: 5px;
    background-color: black;
    border-color: black;
    border-style: solid;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-left: 30px;
    margin-right: 30px;
    overflow: hidden;
}

#NameData {
    background-color: pink;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}


#ImageData {
    background-color: orange;
    grid-row: 2;
}

#TrailerData {
    background-color: red;
    grid-row: 2;
}

#DescriptionData {
    background-color: rgb(0, 225, 255);
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: left;
}

#BasicInfo {
    background-color: rgb(11, 206, 11);
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

.DataText {
    font: bold 120% monospace;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.TextFile {
    margin-left: 10px;
    margin-right: 10px;
    width: 95%;
}

#selectGen{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 95%;
}

#plataforma{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}