body{
    background-image: url("Imagenes_practica/Fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: black;
    text-align: center;
    font-family: 'Lobster Two', serif;
}

#colorGaming{
    color: yellow;
}

#colorR{
    color: pink;
}

#colorA{
    color: rgb(0, 225, 255);
}

#colorN{
    color: orange;
}

#colorK{
    color: red;
}

#fantasmas {
    width: 30px;
    height: 20px;  
}

.gridBotton {
    display: grid;
    grid-template-columns: 60px 60px 60px 300px;
    margin: 10px
}

#Tittle{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.botton {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    border-radius: 5px;
    width: 50px;
    height: 50px;
}

.botton:hover{
    border-style:dashed;
    border-width: 10px;
    border-color: green;
}

#bottonwidth{
    width: 200px;
}

.img-responsive {
    width: 100%;
    height: 75%;
    margin-top: 4vh ;
    flex-wrap: wrap;
    border-style: solid;
    border-radius: 12px ;
    border-color: black;
}

.img-responsive:hover {
    border-color: rgba(218, 148, 18, 0.808);
}

.GameName{
    margin-top: 1vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    text-align: center;
}

.gridInfo {
    display: grid;
    margin-left: 5vw;
    margin-right: 5vw;
    height: auto;
    width: 90%;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5vw;
    grid-row-gap: 1vh;
}


.image {
    grid-area: 1 / 1 / 3 / 1;
    width: 2fr;
}

.image>img {
    width: 100%;
    height: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.description {
    grid-area: 1 / 2 / 1 / 2;
    width: 2fr;
}

.description>p {
    width: 100%;
    font-size: 3vb;
    text-align: left;
    overflow: hidden;
    word-wrap: break-word;
    word-break: keep-all;
}

.trailer {
    grid-area: 2 / 2 / 3 / 3;
}

.trailer>iframe {
    width: 100%;
    height: 100%;
}

.data {
    grid-area: 1 / 3 / 3 / 3;
    width: 1fr;
}

.data>h3{
    font-size: larger;
    font-weight: 1000;
}

.data>ul>li {
    font-size: 20;
    text-align: left;
    word-wrap: break-word;
    word-break: keep-all;
    width: 80%;
}

#tablaconsola{
    display: grid;
    margin-top: 30px;
}

table>thead{
    background-color: white;
    text-align: center;
}

#videojuego{
    background-color: white;
}

#ps{
    background-color: blue;
}

#xbox{
    background-color: green;
}

#nintendo{
    background-color: red;
}

#pc{
    background-color: goldenrod;
}

.tick{
    color: green;
}

table>tbody{
    background-color: transparent;
    text-align: center;
}

#formgrid{
    background-color: rgb(201, 218, 220);
    display: grid;
    margin-top: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
}

#buttonsubmit{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    border-radius: 5px;
    width: 100px;
    height: 50px; 
}

#form-control{
    height: 30px;
}

#gridTittle{
    text-align: center;
    background-color: rgb(70, 95, 238);
    border-color: black;
    border-style: solid;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

#gridData{
    display: grid;
    row-gap: 10px;
    column-gap: 30px;

    background-color: rgb(140, 217, 253);
    border-color: black;
    border-style: solid;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
    
}

#NameData{
    background-color: rgb(255, 6, 6);
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}


#ImageData{ 
    background-color: rgb(42, 56, 165);
    grid-row: 2;
}

#TrailerData{
    background-color: rgb(159, 165, 42);
    grid-row: 2;
}

#DescriptionData{
    background-color: rgb(42, 165, 89);
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: left;
    margin-left: 10px;
}

.DataText{
    font: bold 120% monospace;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.TextFile{
    margin-left: 10px;
    margin-right: 10px;
}